.proyects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 2em 0 5em 0;
    background: $second-bg-color;
    
    .heading{
        font-size: 5em;
        margin: 1em 0 2em 0;
        text-align: center;
        span{
            color: $main-color;
        }
    }
    .proyects-box{
        border-left: 0.2em solid $main-color;
        width: 49%;
        margin-bottom: 19em;
        .proyects-content{
            position: relative;
            padding-left: 2em;
            .content{
                position: relative;
                padding: 1em;
                border: 0.2em solid $main-color;
                border-radius: 0.5em;
                margin-bottom: 2em;
                .year{
                    font-size: 1.5em;
                    color: $text-color;
                    padding-bottom: 1em;
                    letter-spacing: 0.1em;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .fa-calendar-days{
                        padding-right: 0.5em;
                        font-size: 1.5em;
                        color: $main-color;
                    }
                    .date{
                        color: $main-color;
                        padding: 0.5em 0;
                    }
                    .description{
                        padding: 0.5em 0;
                    }
                    img{
                        padding: 0.5em 0;
                    }
                }
            }
        }
    }
}